body{
        font-family: Consolas, Edwardian Script ITC;
        color: #0094ff;
    }
    p::first-letter {
    font-size: 35pt;
   font-family: Edwardian Script ITC;
	}
    p::first-line { 
        font-weight: bold; 

    }